<div>
  <h1>fxLayout</h1>
  
  <div *ngFor="let flexLayoutModel of simpleFlexLayoutModel">
    <h2>fxLayout="{{flexLayoutModel.layoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}" </h2>

    <select [(ngModel)]="flexLayoutModel.horizontalAlignment">
      <option *ngFor="let opt of alignmentHorizontalSelectOptions" value="{{opt}}">{{opt}}</option>
    </select>
  
    <select [(ngModel)]="flexLayoutModel.verticalAlignment">
      <option *ngFor="let opt of alignmentVerticalSelectOptions" value="{{opt}}">{{opt}}</option>
    </select>

    <div class="container" fxLayout="{{flexLayoutModel.layoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}">
      <div *ngFor="let settings of itemSettings" class="item" [ngStyle]="{
        'background-color': settings.color,
        'width': settings.width,
        'height' : settings.height
      }">
        {{settings.value}}
      </div>
    </div>

  </div>

</div>


<div *ngFor="let flexLayoutModel of complexFlexLayoutModel">
  <h2>fxLayout="{{flexLayoutModel.layoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}" 
    INNER fxLayout="{{flexLayoutModel.innerLayoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}" </h2>

  <select [(ngModel)]="flexLayoutModel.horizontalAlignment">
    <option *ngFor="let opt of alignmentHorizontalSelectOptions" value="{{opt}}">{{opt}}</option>
  </select>

  <select [(ngModel)]="flexLayoutModel.verticalAlignment">
    <option *ngFor="let opt of alignmentVerticalSelectOptions" value="{{opt}}">{{opt}}</option>
  </select>

  <div class="big-container" fxLayout="{{flexLayoutModel.layoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}">
    <div *ngFor="let settings of itemSettings" [ngClass]="flexLayoutModel.bigItemsClass" >
      <span *ngIf="settings.value != 3">{{settings.value}} </span>

      <div *ngIf="settings.value == 3" fxLayout="{{flexLayoutModel.innerLayoutType}}" fxLayoutAlign="{{flexLayoutModel.horizontalAlignment}} {{flexLayoutModel.verticalAlignment}}">
        <div *ngFor="let settings of itemSettings" class="item" [ngStyle]="{
          'background-color': settings.color,
          'width': settings.width,
          'height' : settings.height
        }">
          {{settings.value}}
        </div>
      </div>

    </div>
  </div>

</div>

